/* General styling  */
* {
    box-sizing: border-box;
}

body {
    background-color: #070720;
}

hr {
    border-color: rgba(255, 255, 255, 0.2)
}

/* General */

.box {
  background-color: #17172E;
  border: 1px solid #50506B;
}

/* Navbar */

.navbar {
    position: relative;
    border-bottom: 1px solid #50506B;
    overflow: visible;
    padding: 32px 13px;
    z-index: 5;
    margin-left: 80px;
}

.brand {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 28px;
    font-weight: 900;
}
/*auto-complete searchbar*/

.input-group {
    font: 16px Arial;
    box-sizing: border-box;
}
.searchbar {
    width: 650px;
    height: 54px;
    margin: 40px auto;
    background-color: #FEFEFE;
    border-radius: 27px;
    overflow: hidden;
}

.searchbar input, .searchbar .search-icon {
    display: inline-block;
}

.searchbar input {
    width: 596px;
    height: 100%;
    padding: 20px 2px;
    border: none;
    color: #070720;
}

.searchbar input:focus {
    outline: none;
}

.searchbar .search-icon {
    width: 54px;
    height: 54px;
    vertical-align: bottom;
}

.searchbar img {
    width: 30%;
    margin: 35%;
}

.autocomplete {
    position: relative;
    display: inline-block;
    width: 300px;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
input[type=submit] {
    background-color: gray;
    color: #fff;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 1200%;
    overflow-x: auto;

}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;

}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: darkgray !important;
    color: #ffffff;
}

  /* Sidebar */

.sidebar {
    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    color: whitesmoke;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.sidebarImg {
    margin-top: 36px;
    width: 40%;
    cursor: pointer;
}

.sidebar-content {
    z-index: 10;
    position: fixed;
    top: 0;
    left: -280px;
    height: 100vh;
    width: 280px;
    transition: left ease-in-out 300ms;
    color: whitesmoke;
    padding: 12px;
}

.sidebar-content.open {
    left: 80px;
}

/* main container  */

.main-container {
    position: relative;
    left: 80px;
    width: calc(100% - 80px);
    padding: 40px;
}

.title-bar {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
    color: #D8D8D8;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

#streamer-name {
    flex-grow: 1;
    margin: 4px;
    padding-right: 14px;
    border-right: 1px solid #50506B;
}

#stream-title {
    flex-grow: 1;
    font-size: 1.4em;
    overflow: hidden;
    max-width: 100%;
}

#title-buttons {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

#title-buttons .btn {
    margin-right: 20px;
}

/* Twitch portal */

#twitch-embed {
    width: 100%;
    padding: 12px;
    text-align: center;
    overflow: hidden;
}

/* favorites bar */

#favSidebar {
    display: flex;
    flex-direction: column;
}

#favSidebarContainer {
    flex-basis: 100%;
    overflow: auto;
}

#unfavoriteAll {
    text-align: center;
    padding: 32px 10px;
}

.favText {
    font-size: 1.3em;
    font-weight: bold;
    max-width: 254px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Cards styling */

.myCard {
    width: 80%;
    max-width: 720px;
    min-height: 20px;
    background-color: #17172E;
    overflow: auto;
    position: relative;
    margin: 20px auto;
    border-radius: 6px;
}

.myCard .card-content, .myCard .card-image {
    float: left;
}

.myCard .card-image {
    width: 30%;
    height: auto;
    padding: 0 20px 20px;
    vertical-align: baseline;
    display: inline-block;
}

.myCard .card-content {
    width: 70%;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 20px;
}

.favorite {
    vertical-align: middle;
    padding-right: 8px;
    cursor: pointer;
}

.favorite[data-state="unfavorited"] {
    opacity: 0.5;
    transition: opacity 300ms ease-in-out;
}

.favorite:hover {
    opacity: 1;
}

.favorited {
    color: #FF9B00;
}

.title-container {
    color: #D8D8D8;
    margin-top: 16px;
    letter-spacing: 1px;
}

.title-container * {
    vertical-align: middle;
    font-size: 2em;
    font-weight: bold;
}

.flavor-text{
  font-size: 0.5em;
  font-weight: lighter;
}

.my-card-body {
    color: #A1A1A1;
    padding: 0 0 20px;
}

.card-stat {
    margin-right: 24px;
}

.xBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #A1A1A1;
    font-size: 1.4em;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 300ms ease-in-out;
}

.xBtn:hover {
    opacity: 1;
}

/* Glossary */

#glossarySidebar {
    color: #D8D8D8;
    font-size: 14px;
    overflow: auto;
    word-wrap: break-word;
    z-index: 10;
}

.source-link {
    color: #555;
    font-size: 12px;
    line-height: 0.2em;
    font-weight: bold;
}

.source-link::before {
    content: "Source";
}

.glossary-h5 {
    margin-top: 12px;
}

.back-to-top {
    color: #08A6FF;
}

.glossary-quick-links-container {
    display: flex;
    flex-flow: column wrap;
}

.quick-links {
    color: #08A6FF;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0);
    transition: all 300ms ease;
    margin: 2px 0;
    padding-bottom: 2px;
    display: block;
}

.quick-links:hover {
    text-decoration: none;
    border-bottom: 1px solid #08A6FF;
}
